.loadingWrapper {
    display: flex;
    justify-content: center;
}

.barWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.cooldownWrapper {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
}
