.quickItem {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;

    &:hover .closeIcon {
        display: initial;
    }

    &.equipable {
        border-color: gold !important;
    }
}

.quantity {
    text-align: center;
    font-size: 10px;
}

.title {
    text-align: center;
}

.closeIcon {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
}

.icon {
    width: 60px;
    height: 30px;
    background-size: cover;
    margin: auto;
}

:global(body:not(.dark-mode)) {
    .quickItem {
        border: 1px solid lightgray;
        background-color: white;

        &.equipped {
            background-color: #b7d4fc;
        }
    }

    .quantity {
        color: gray;
    }
}

:global(body.dark-mode) {
    .quickItem {
        border: 1px solid #444;
        background-color: #333;

        &.equipped {
            background-color: #535b5e;
        }
    }

    .quantity {
        color: #bdadad;
    }
}
