@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@mixin themable($theme-name, $theme-map) {
    .#{$theme-name} {
        background-color: map-get($theme-map, background-color);
        color: map-get($theme-map, text-color);

        input[type="text"] {
            background-color: map-deep-get($theme-map, input, background-color);
            color: map-deep-get($theme-map, input, text-color);
        }

        a {
            color: map-get($theme-map, text-color);
        }
    }
}
