.theme_default {
    --container-color: #fff;
    --container-background: linear-gradient(180deg, #1a8e9c, rgb(21, 114, 125)) no-repeat;
}

.theme_torn {
    --container-color: #fff;
    --container-background: linear-gradient(180deg, #555, #333) no-repeat;
}

.theme_unique {
    --container-color: #fff;
    --container-background: linear-gradient(180deg, #17ab6f, #1a8e9c) no-repeat;
}
